UPGRADE_MANAGER=<UPGRADE_MANAGER_ADDRESS>
PRIVATE_KEY_1=<PRIVATE_KEY_OF_UPGRADE_MANAGER>
VAULT=<VAULT_ADDRESS>
ESIM_WALLET_ADMIN=<ESIM_WALLET_ADMIN_ADDRESS>
PRIVATE_KEY_3=<PRIVATE_KEY_OF_ESIM_WALLET_ADMIN>
ENTRY_POINT_ZERO_POINT_SEVEN_ADDRESS="0x0000000071727De22E5E9d8BAf0edAc6f37da032"
TENDERLY_ACCESS_TOKEN=<YOUR_TENDERLY_ACCESS_TOKEN>
TENDERLY_VIRTUAL_TESTNET_RPC_URL=<YOUR_TENDERLY_VIRTUAL_TESTNET_RPC_URL>
TENDERLY_VERIFIER_URL=$TENDERLY_VIRTUAL_TESTNET_RPC_URL/verify/etherscan
ALCHEMY_OP_SEPOLIA_HTTPS=<YOUR_ALCHEMY_OP_SEPOLIA_HTTPS_URL>
ALCHEMY_SEPOLIA_HTTPS=<YOUR_ALCHEMY_SEPOLIA_HTTPS_URL>
TENDERLY_VIRTUAL_MAINNET=<YOUR_TENDERLY_VIRTUAL_MAINNET_RPC_URL>
ETHERSCAN_API_TENDERLY_VIRTUAL_MAINNET=<YOUR_ETHERSCAN_API_TENDERLY_VIRTUAL_MAINNET>
ALCHEMY_API_KEY=<YOUR_ALCHEMY_API_KEY>
ALCHEMY_TENDERLY_OP_SEPOLIA_HTTPS=<YOUR_ALCHEMY_TENDERLY_OP_SEPOLIA_HTTPS_URL>
DEFENDER_API_KEY=<YOUR_OZ_DEFENDER_API_KEY>
DEFENDER_TEAM_SECRET_KEY=<YOUR_OZ_DEFENDER_TEAM_SECRET_KEY>
TENDERLY_KOKIO_MAINNET_FORK=<YOUR_TENDERLY_KOKIO_MAINNET_FORK_RPC_URL>